@using NetFlixFrontEnd.NetFlixService
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<table class="MovieTable">
    <tr>
        @foreach (Title movie in (IQueryable<Title>) Model)
        {
            <td class="MovieCell">
                <a href="@movie.Url">
                    <img src="@movie.BoxArt.MediumUrl" alt="@movie.ShortName" class="BoxArt" title="@movie.Name" />
                </a>
                <div style="text-align: center">
                    <span class="MovieTitle">@movie.ShortName</span>
                    <div class="Rating">
                        <img src="@Url.Content("~/Content/themes/base/images/stars" + @movie.AverageRating + "0.gif")"/>
                    </div>
                </div>
            </td>
        }
    </tr>
</table>